[submodule "extern/cmake-imgui"]
	path = extern/cmake-imgui
	url = https://github.com/giladreich/cmake-imgui
[submodule "extern/CommonLibSSE"]
	path = extern/CommonLibSSE
	url = https://github.com/CharmedBaryon/CommonLibSSE
